<div class="alert alert-error hidden"></div>
<%- model_class = Assessment::PolicyMission -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit Regulated Training") %></h1>
</div>
<p>Click <%= link_to 'here', course_assessment_policy_mission_path(@course, @policy_mission) %> if you wish to review the questions for this assignment.</p>
<%= render :partial => 'form' %>
