<%= render  partial: "topicconcepts/tabs" %>
<div class="page-header">
  <h1>Exclude questions</h1>
  <p>"Enable" questions that you want to exclude from the training</p>
</div>
<%= render partial: "form", locals: {course: @course} %>
