<span><%= style_format(q.description) %></span>
<br/>
<br/>
<ul>
  <% q.options.each do |opt| %>
    <li class="checkbox-text">
      <table>
        <tr>
          <td style="vertical-align: top"><input type="checkbox" disabled <%= "checked" if (opt.correct? and (defined?(show_answer) ? show_answer : true)) %> /></td>
          <td>
            <span><%= style_format(opt.text) %></span>
            <%-  if defined?(show_explanation) and show_explanation and opt.explanation and !opt.explanation.empty? %>
                <span><strong>Explanation: </strong><%=  style_format(opt.explanation) %></span>
            <% end %>
          </td>
        </tr>
      </table>

    </li>
<% end %>
</ul>

