<span><%= style_format(q.description) %></span>
<br/>
<br/>
<ul>
  <% q.options.each do |opt| %>
    <li class="checkbox-text">
    <input type="checkbox" disabled <%= "checked" if (opt.correct? and (defined?(show_answer) ? show_answer : true)) %> />
    <span><%= style_format(h(opt.text)) %></span>
  </li>
<% end %>
</ul>

