



<div id="criteria_area_wrap">
  <div id="criteria_content" class="info-box">
	  <span class="info-box-header">Criteria</span>
		<div id="criteria-area" class="fancy-scrollbar criteria-area"></div>
			<div class="criteria-buttons">
				<div class="check-criteria-wrapper">
			    <input id="check-criteria-button" class="btn btn-success" type="button" value="Refresh">
        	</div>
		  </div>
	  </div>
  </div>
</div>


<script>
	$(document).ready(function(){
		
	});
	
</script>
