<div class="cur-concept-title">
  <a class="btn btn-info btn-navbar collapsed stud-int-sidebar-collapse"><span class="icon-align-justify"></span></a>
    <div id="titlebar" class="cur-concept-title-slave">
    </div>			
</div>

<script>
function updateTitleBar(newTitle) {
  $("#titlebar").html(newTitle);
}
</script>
