<link rel="stylesheet" href="dist/themes/default/style.min.css" />
<%= render  partial: "tabs" %>

<div class="page-header">
  <h1>Topics & Concepts</h1>
</div>

<% if @user_course.is_student? %>

<% else %>
  <%= render  partial: "topicconcept_map" %>
<% end %>
