<input type="hidden" class="update-seating-plan-ajax-url" value="<%= update_seating_plan_course_assessment_realtime_session_group_path(@course, @realtime_session_group) %>"/>
<div>

	<% if @realtime_session_group.recitation? %>
      <%= render partial: 'groups_recitation', locals: { session: sessions.first } %>
  <% else %>
      <%= render partial: 'groups_normal', locals: { sessions: sessions } %>
  <% end %>
</div>


<script>
  //TODO: the same code with edit-seating-plan in start_session view - refactoring them into 1
    $(document).ready(function() {
        var data_seat = [];
        //Edit seating plan
        //Store all change
        $('.allocate-seat').change(function() {
            var student = $(this).val();
            var table = $(this).parent().find("#table_number").val();
            var seat = $(this).parent().find("#seat_number").val();
            var session = $(this).parent().find("#session_id").val();
            data_seat.push({table: table, seat: seat, session: session, student: student });

        });

        $('.seating-plan').click(function() {
            data_seat = [];
            $('.alert-seating-plan').hide();
        });

        $('.update-seating-plan').click(function() {
            var url = $('input.update-seating-plan-ajax-url').val();
            $.ajax({
                url : url,
                type : 'POST',
                dataType : 'json',
                data : {data: data_seat},
                success : function(result) {
                    $('.alert-seating-plan').html("Seating Plan is updated.");
                    $('.alert-seating-plan').show();
                    $('.alert-seating-plan').alert();
                    window.setTimeout(function() { $('.alert-seating-plan').hide(); }, 1000);
                }
            });
        });
    });

</script>