<div class="alert alert-error hidden"></div>
<%- model_class = Assessment::RealtimeSessionGroup -%>
<div class="page-header">
  <h1>New Realtime Session Group</h1>
</div>
<%= render :partial => 'form' %>