<ul class="nav nav-tabs">
	<% if tab==1 %>
		<li class="active">
	<% else %>
		<li>
	<% end %>
		<a href='<%= course_manage_students_path(@course) %>'>Manage Students</a>
	</li>
    <% if tab==2 %>
        <li class="active">
    <% else %>
        <li>
    <% end %>
    <a href='<%= course_group_path(@course) %>'>Manage Groups</a>
  </li>
	<% if tab==3 %>
		<li class="active">
	<% else %>
 		<li>
	<% end %>
		<a href='<%= course_staff_path(@course) %>'>Manage Staff</a>
	</li>
</ul>