// Place all the styles related to the RealtimeSession controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-rt {
  min-width: 97px;
}

.btn-rt-100 {
  min-width: 100px;
}

.lower-btn-rt{
  min-width: 97px;
  margin-top:3px;
}

body .modal-60 {
  /* new custom width */
  width: 60%;
  /* must be half of the width, minus scrollbar on the left (30px) */
  margin-left: -30%;
  margin-top: -20%;
}