// Place all the styles related to the RealtimeSession controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-rt {
  min-width: 97px;
}

.lower-btn-rt{
  min-width: 97px;
  margin-top:3px;
}