// Place all the styles related to the Topicconcepts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer.compress {
	margin-top: 0px;
}

svg {
    overflow: hidden;
}
g.node {
  cursor: pointer;
}
.node rect {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}

.edgeLabel rect {
    fill: #fff;
}

.edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}

.concept-tutorial {
  position: relative;
  top: -20px;
  left: -20px;
  background-color: #e1e1e1;  
}

.concept-tutorial .post-animate-tutorial-nav, {
    width:0px;
}

.concept-tutorial .pre-animate-tutorial-nav, {
    width:200px;
}

.concept-tutorial .tutorial-nav .nav-head-concept .progress, {
    width:172px;
}

.concept-tutorial .tutorial-nav {    
    vertical-align: top;
    border-right: 1px solid #ddd;
    float: left;    
    background-color: #e1e1e1; 
}

.tutorial-nav .nav-head-container {
    height:110px;
    color: #999;
    border-bottom: 1px solid #ccc;    
    padding: 0 14px;

}

.nav-head-container .nav-head-concept {
  position: relative;
  top: 20px;  
}

.nav-head-container .nav-head-concept h3{
  margin: 0;
  color: #444; 
  font-weight: bold;
} 

.tutorial-nav .slimScrollDiv {
  min-height: 240px;
  border-top: 5px solid #4fbad4;
}
.slimScrollDiv ul {
    margin: 0;
    padding: 0;
}
.slimScrollDiv li {
  padding: 0 0 0 10px;
  height: 50px;
}

.slimScrollDiv li.completed .status{
    background-position: 0 25px;  
}

.slimScrollDiv li.selected {
    background-color: #fdfdfd;
    height: 50px;
}

.slimScrollDiv li.selected .status{
    background-position: 0 25px;  
}

.slimScrollDiv li.selected a{
    color: #1c758a;
}

.slimScrollDiv li:hover {
  background-color: #1c758a;
}

.slimScrollDiv li:hover > a {
  color: white;
}
.slimScrollDiv li a{ 
  color: #555;
  height: 50px;
}

.slimScrollDiv .subway-icon {
    display: block;    
    width: 40px;
    height: 100%;
}

.slimScrollDiv .pipe {
    background-color: #cdcdcd;    
    width: 4px;
    height: 50px;
    position: relative;
    left: 11px;
    
}

.slimScrollDiv .main-concept .pipe {    
    height: 30px;   
}

.slimScrollDiv .main-concept .status {    
    top: -16px;  
}

.slimScrollDiv .pipe.completed, .slimScrollDiv li.selected .pipe, .slimScrollDiv li.completed .pipe {
    background-color: #4fbad4;
}

.slimScrollDiv .status {
    background-size: 25px 75px;    
    height: 25px;   
    width: 25px;
    position: relative;
    top: -38px;
}

.subway-icon .status.exercise-node {
    background-image: url("master/master.png");
}

.slimScrollDiv .progress-title {
    position: relative;
    left: 32px;
    top: -34px;
}

.concept-tutorial .post-animate-tutorial-content {
    margin-left: 0px;   
}

.concept-tutorial .pre-animate-tutorial-content {
    margin-left: 200px;   
}

.concept-tutorial .tutorial-content,
.concept-tutorial .tutorial-nav {
    min-height: 750px;
    padding-bottom: 10px;
}

.concept-tutorial .tutorial-content {

    background-color: #eee;
    -webkit-box-shadow: -5px -1px 20px -6px #000;
    -moz-box-shadow: -5px -1px 20px -6px #000;
    box-shadow: -5px -1px 20px -6px #000;
    position: relative;
}

.tutorial-content .task-header-container {
    min-height:70px;
    background-color: #1c758a;
}

.tutorial-content .task-header-container div.cur-concept-title{
  min-height: 40px;
  position: relative;
  top:13px;
  padding-bottom: 13px;
  left:10px;
  width: 100%;
}

.tutorial-content .task-header-container h2 {
  color: white;  
}

.tutorial-content .task-header-container div.in-a-row{
  height: 40px;
  width: 200px;
  float: right;
  position: relative;
  top:-24px;  
}
.tutorial-content .task-header-container div.in-a-row span {
    width: 150px;
}

.tutorial-content .task-header-container div.in-a-row h4{
  color: white;
  
}
.tutorial-content .task-header-container div.in-a-row .row-img{
  height: 20px; 
  width: 50px;
  position: relative;
  top: -27px;
  left: 140px;
}
.tutorial-content .task-header-container div.in-a-row .img-correct-item{
  background-image: url("master/correct.png");
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  float: left;
}
.tutorial-content .task-header-container div.in-a-row .img-wrong-item{
  background-image: url("master/wrong.png");
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  float: left;
}
.tutorial-content .task-header-container div.in-a-row .cur-std-got {
  height: 20px; 
  width: 50px;
  position: relative;
  top:-25px;
  left: 140px;
}
.tutorial-content .task-content-container {
    min-height:230px;
    padding-left: 10px;
    padding-top: 10px; 

}
#problemarea {
    float: left;
    font-size: 14px;
    min-height: 200px;
    width: 59%;
    
}

#problemarea #workarea {
    margin-left: 20px;
}

#problemarea #hintsarea {
    margin-left: 50px;
}

.info-box-header {
    color: #777;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 100%;
    text-shadow: 0 1px 0 #fff;
}


.inner-info-box-area {
    border-bottom: 1px solid #c3c3c3;
    margin: 0 -10px;
    min-height: 35px;
    overflow: auto;
    padding: 10px;
}

.inner-info-box-footer {
    border-top: 1px solid #fff;
    margin: 0 -10px;
    padding: 10px 10px 0;
    position: relative;
}

.info-box:after,
.inner-info-box-footer:after {
  content: "";
  display: block;
  clear: both;
}

.info-box {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #e1e1e1;
    border-color: #ccc #ccc #aaa;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px #ccc;
    color: #333;
    padding: 10px;
    position: relative;
    z-index: 10;
}

.info-box .icon-remove-button {
  position: absolute;
  font-size: 18px;
  cursor: pointer;
  top: 10px;
  right: 10px;
}

.info-box .icon-remove-button:hover {
  color: #800;
}

.info-box.info-box-green{
  background-color: #99ee99;
  border-color: #7C7 #7C7 #5A5 #7C7;
  min-height: 17px;
}

.info-box.info-box-red{
  background-color: #ee9999;
  border-color: #C77 #C77 #A55 #C77;
  min-height: 17px;
}

input.btnmargined {
    margin: 2px;
}

.act-tipsy {
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-concept-name,
.tipsy .name {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    color: #60B1FC;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.act-tipsy .name{
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  color: #4091DC;
  text-decoration: underline;
  text-align: center;
}

.act-tipsy .subtop,
.tipsy .subtop {
    font-size: 15px;
    color: #AAF;
    text-align: right;
}

.act-tipsy .sub,
.tipsy .sub {
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    color: #FFF;
    text-align: right;
}

.act-tipsy .tipsy-passWhen,
.tipsy .tipsy-passWhen{
    margin-top: 10px;
    color: #0F0;
}

.act-tipsy .tipsy-failWhen,
.tipsy .tipsy-failWhen{
    color: #F00;
}

.act-tipsy .tipsy-passWhen,
.act-tipsy .tipsy-failWhen,
.tipsy .tipsy-passWhen,
.tipsy .tipsy-failWhen{
    text-align: left;
    font-size: 18px;
}

.act-tipsy .tipsy-pass-statement,
.act-tipsy .tipsy-fail-statement,
.tipsy .tipsy-pass-statement,
.tipsy .tipsy-fail-statement{
    font-size: 16px;
    text-align: left;
    display: inline-block;
}

.act-tipsy .tipsy-passstrikeout,
.tipsy .tipsy-passstrikeout{
    text-decoration: line-through;
}

.act-tipsy .tipsy-failstrikeout,
.tipsy .tipsy-failstrikeout{
    text-decoration: line-through;
}

.act-tipsy .tipsy-passIcon,
.act-tipsy .tipsy-failIcon,
.tipsy .tipsy-passIcon,
.tipsy .tipsy-failIcon{
    font-size: 16px;
    text-align: left;
    margin-right: 5px;
}

.act-tipsy .tipsy-passIcon,
.tipsy .tipsy-passIcon{
    color: #0A0;
}

.act-tipsy .tipsy-failIcon,
.tipsy .tipsy-failIcon{
    color: #A00;
}

.act-tipsy .tipsy-passWord,
.act-tipsy .tipsy-failWord,
.tipsy .tipsy-passWord,
.tipsy .tipsy-failWord{
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    text-align: left;
}

.act-tipsy .tipsy-fail-statement,
.tipsy .tipsy-fail-statement{
    color: #080;
}

.act-tipsy .tipsy-passWord,
.tipsy .tipsy-passWord{
    color: #0F0;
}

.act-tipsy .tipsy-pass-statement,
.tipsy .tipsy-pass-statement{
    color: #800;
}

.act-tipsy .tipsy-failWord,
.tipsy .tipsy-failWord{
    color: #F00;
}

.act-tipsy .tipsy-failstrikeout,
.tipsy .tipsy-failstrikeout,
.tipsy-failstrikeout .tipsy-passWord,
.tipsy-failstrikeout .tipsy-failWord{
    color: #A00;
}

.act-tipsy .tipsy-passstrikeout,
.tipsy .tipsy-passstrikeout,
.tipsy-passstrikeout .tipsy-passWord,
.tipsy-passstrikeout .tipsy-failWord{
    color: #0A0;
}

.act-tipsy .tipsy-condition-margin,
.tipsy .tipsy-condition-margin{
    margin-bottom: 8px;
}

select.full-width{
    width: 100%;
}

div.pseudo-pull-right-child {
    width: 100%;
    text-align: right;
}

.stud-int-sidebar-collapse {
    position: absolute;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.cur-concept-title-slave {
    margin-left: 45px;
}

tr.white-row {
    background-color: white;
}

.topicconcept-loading-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1050;
	overflow: auto;
	width: 560px;
	margin: -250px 0 0 -280px;
  color: #FFF;
  text-align: center;
  min-height: 140px;
}

div.processing-ball {
  background-color: rgba(0,0,0,0);
  border: 5px solid rgba(255,0,0,0.9);
	border-left: 5px solid rgba(0,0,0,0);
	border-right: 5px solid rgba(0,0,0,0);
	border-radius: 50px;
	box-shadow: 0 0 25px #FF8080;
	width: 50px;
	height: 50px;
  margin: 0 auto;
  animation: spin 0.8s infinite linear;
	-moz-animation: spin 0.8s infinite linear;
	-webkit-animation: spin 0.8s infinite linear;
}

div.inner-processing-ball {
  background-color: rgba(0,0,0,0);
  border: 5px solid rgba(0,255,0,0.9);
	border-left: 5px solid rgba(0,0,0,0);
	border-right: 5px solid rgba(0,0,0,0);
	border-radius: 50px;
	box-shadow: 0 0 15px #66FF66;
	width: 34px;
	height: 34px;
  margin: 0 auto;
  top: -50px;
  position: relative;
  animation: spin 0.9s infinite linear;
	-moz-animation: spin 0.9s infinite linear;
	-webkit-animation: spin 0.9s infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

@-moz-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

.btn-topicconcept-toggle {

    margin-bottom: 28px;
}

g.node.enter.entry rect {
  fill: #99FF99; 
  stroke: #008000;
}

g.node.enter.entry text {
  fill: #008000;
  font-weight: normal;
}

g.node.enter.entry:hover rect {
  fill: #77EE77; 
  stroke: #007000;
  stroke-width: 4px;
}

g.node.enter.entry:hover text {
  fill: #008000;
  font-weight: bold;
}

g.node.enter.entryin rect {
  fill: #CCFF66; 
  stroke: #647D32;
  stroke-width: 4px;
}

g.node.enter.entryin text {
  fill: #647D32;
  font-weight: normal;
}

g.node.enter.entryin:hover rect {
  fill: #BBEE55; 
  stroke: #536E21;
  stroke-width: 7px;
}

g.node.enter.entryin:hover text {
  fill: #536E21;
  font-weight: bold;
}

g.node.enter.failed rect {
  fill: #FFBBBB; 
  stroke: #A00000;
}

g.node.enter.failed text {
  fill: #A00000;
  font-weight: normal;
}

g.node.enter.failed:hover rect {
  fill: #EEAAAA; 
  stroke: #800000;
  stroke-width: 4px;
}

g.node.enter.failed:hover text {
  fill: #700000;
  font-weight: bold;
}

g.node.enter.disabled rect {
  fill: #AAAAAA; 
  stroke: #000000;
  opacity: 0.3;
}

g.node.enter.disabled text {
  fill: #000000;
  font-weight: normal;
  opacity: 0.3;
}

g.node.enter.enabled rect {
  fill: #CCCCCC; 
  stroke: #000000;
}

g.node.enter.enabled text {
  fill: #000000;
  font-weight: normal;
}

g.node.enter.enabled:hover rect {
  fill: #BBBBBB; 
  stroke-width: 4px;
}

g.node.enter.enabled:hover text {
  font-weight: bold;
}

g.edgeLabel.enter {
  cursor: pointer;
}

g.edgePath.enter.entrystart.entryend,
g.edgePath.enter.passed{
  stroke: #008000;
  stroke-width: 2;
}

g.edgePath.enter.enabledstart.enabledend,
g.edgePath.enter.enabledstart.disabledend,
g.edgePath.enter.enabledstart.entryend {
  stroke: #000000;
  stroke-width: 2;
}

g.edgePath.enter.entrystart.disabledend,
g.edgePath.enter.entrystart.enabledend {
  stroke: #CCCC00;
  stroke-width: 2;
}

g.edgePath.enter.disabledstart.entryend,
g.edgePath.enter.disabledstart.enabledend,
g.edgePath.enter.disabledstart.disabledend,
g.edgePath.enter.disabled {
  stroke: #000000;
  opacity: 0.3;
  stroke-dasharray: 5,5;
  stroke-width: 2;
}

g.edgeLabel.enter.entrystart.entryend text,
g.edgePath.enter.passed text{
  fill: #008000;
}

g.edgeLabel.enter.entrystart.entryend:hover text,
g.edgePath.enter.passed text{
  fill: #007000;
  font-weight: bold;
}

g.edgeLabel.enter.enabledstart.enabledend text,
g.edgeLabel.enter.enabledstart.entryend text,
g.edgeLabel.enter.enabledstart.disabledend text{
  fill: #000000;
}

g.edgeLabel.enter.enabledstart.enabledend:hover text,
g.edgeLabel.enter.enabledstart.entryend:hover text,
g.edgeLabel.enter.enabledstart.disabledend:hover text{
  font-weight: bold;
}

g.edgeLabel.enter.entrystart.enabledend text,
g.edgeLabel.enter.entrystart.disabledend text{
  fill: #A0A000;
}

g.edgeLabel.enter.entrystart.enabledend:hover text,
g.edgeLabel.enter.entrystart.disabledend:hover text{
  fill: #909000;
  font-weight:bold;
}

g.edgeLabel.enter.disabledstart.entryend text,
g.edgeLabel.enter.disabledstart.enabledend text,
g.edgeLabel.enter.disabledstart.disabledend text,
g.edgeLabel.enter.disabled text, {
  fill: #000000;
  opacity: 0.3
}

g.edgeLabel.enter.passed text{
  fill: #008000;
}

g.edgeLabel.enter.passed:hover text{
  fill: #007000;
  font-weight:bold;
}

input[type = checkbox].normalized-topicconcept {
  margin-top: 4px;
  margin-right: 5px;
}

div.normalized-topicconcept{
  display:block; 
  padding: 10px 0;
}

.topicconcepts-alert{
  top: -15px;
  left: -20px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

a.link-type {
  cursor: pointer;
}

[class^="topicconcept-spun-"] {
  vertical-align: top;
}


.topicconcept-spun-12,
.topicconcept-spun-9,
.topicconcept-spun-8,
.topicconcept-spun-6,
.topicconcept-spun-5,
.topicconcept-spun-4,
.topicconcept-spun-3,
.topicconcept-spun-2,
.topicconcept-spun-1{
  display: inline-block;
  font-size: 13px;
}  

.topicconcept-spunned {
  font-size: 0px;
}

.topicconcept-spunned:after {
  /*content: "";
  display: block;
  clear: both;*/
}

@media (max-width: 767px){

  .topicconcept-spun-12{
    width: 100%;
  }

  .topicconcept-spun-9{
    width: 100%;
  }

  .topicconcept-spun-8{
    width: 100%;
  }

  .topicconcept-spun-6{
    width: 100%;
  }

  .topicconcept-spun-5{
    width: 41.666%;
  }

  .topicconcept-spun-4{
    width: 100%;
  }

  .topicconcept-spun-3{
    width: 100%;
  }  

  .topicconcept-spun-2{
    width: 100%;
  }

  .topicconcept-spun-1{
    width: 100%;
  }
}

@media (min-width: 768px){
  .topicconcept-spun-12{
    width: 100%;
  }

  .topicconcept-spun-9{
    width: 75%;
  }

  .topicconcept-spun-8{
    width: 66.666%;
  }

  .topicconcept-spun-6{
    width: 50%;
  }

  .topicconcept-spun-5{
    width: 41.666%;
  }

  .topicconcept-spun-4{
    width: 33.333%;
  }

  .topicconcept-spun-3{
    width: 25%;
  }  

  .topicconcept-spun-2{
    width: 16.666%;
  }

  .topicconcept-spun-1{
    width: 8.333%;
  }  
}

@media (min-width: 980px){
  .topicconcept-spun-12{
    width: 100%;
  }
  
  .topicconcept-spun-9{
    width: 75%;
  }

  .topicconcept-spun-8{
    width: 66.666%;
  }

  .topicconcept-spun-6{
    width: 50%;
  }

  .topicconcept-spun-5{
    width: 41.666%;
  }

  .topicconcept-spun-4{
    width: 33.333%;
  }

  .topicconcept-spun-3{
    width: 25%;
  }     

  .topicconcept-spun-2{
    width: 16.666%;
  }

  .topicconcept-spun-1{
    width: 8.333%;
  }
}

@media (min-width: 1200px){
  .topicconcept-spun-12{
    width: 100%;
  }
  
  .topicconcept-spun-9{
    width: 75%;
  }

  .topicconcept-spun-8{
    width: 66.666%;
  }

  .topicconcept-spun-6{
    width: 50%;
  }

  .topicconcept-spun-5{
    width: 41.666%;
  }

  .topicconcept-spun-4{
    width: 33.333%;
  }

  .topicconcept-spun-3{
    width: 25%;
  }    

  .topicconcept-spun-2{
    width: 16.666%;
  }

  .topicconcept-spun-1{
    width: 8.333%;
  }
}

.topicconcept-spun-grid-normaliser {
    width: auto;
    padding-right: 10px;
    padding-bottom: 10px;
}

.progress .bar.bar-success.bar-enable {
  background-color: #AAAAAA;
  background-image: -moz-linear-gradient(top, #AAAAAA, #888888);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AAAAAA), to(#888888));
  background-image: -webkit-linear-gradient(top, #AAAAAA, #888888);
  background-image: -o-linear-gradient(top, #AAAAAA, #888888);
  background-image: linear-gradient(to bottom, #AAAAAA, #888888);
}

.progress .bar.bar-success.bar-disable {
  background-color: rgba(0,0,0,0);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,0)));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0));
  background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0));
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0));
  -webkit-box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0.15); 
  box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0.15);
}

.accordion-right .accordion-minimise {
  display: inline-block;
}

.accordion-heading .accordion-right {
  right: 10px;
  top: 10px;
  position: absolute;
}

.accordion {
  background-color: white;
}

.accordion-heading .accordion-wordheading{
  position: relative;
}

.accordion-heading {
  min-height: 36px;
  position: relative;
  padding: 10px;
}

.score-box-well {
  min-height: 20px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border: 3px solid #A2A2A2;
  position: absolute; 
  right: 0px; 
  top: 0px;
  background:
    linear-gradient(to bottom right,
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,0) calc(50% - 2px),
      rgba(160,160,160,1) 50%,
      rgba(0,0,0,0) calc(50% + 2px),
      rgba(0,0,0,0) 100%);
}

.score-box-well-left,
.score-box-well-right {
  display:inline-block; 
  height:20px; 
  margin-top:5px; 
  position:relative;
}

.score-box-well-left {
  top: -15px;
  left: -10px;
}

.score-box-well-right {
  top: 10px;
  left: 10px;
}

.score-box-well-left label,
.score-box-well-right label {
  font-size: 24px;
}

.student-transcript-panel {
  border-color: #eee #eee #ccc;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 2px #ccc;
  color: #333;
}

.accordion-student-transcript-panel{
  margin-bottom: 0px;
}

.accordion-student-transcript-panel-impt{
  background-color: #DDDDDD;
}

.accordion-body-row-one {
  min-height: 115px;
}

.custom-vertical-align > p,
.custom-vertical-align > input,
.custom-vertical-align > select,
.custom-vertical-align > h1,
.custom-vertical-align > h2,
.custom-vertical-align > h3,
.custom-vertical-align > h4{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-hover-effect{
  color: #00005C
}

.icon-hover-effect:hover{
  color: #33CCFF
}

div.feedback-form-div {
  display:inline-block;
  margin-bottom: 15px;
}